body{ 
    background-color: black;
}

a{
    text-decoration: none;
    text-decoration-line: none;
}

input{
    width: 100%;
    height: 15%;
    font-size: 17px;
}

hr{
    border-color: white;
    border-style: solid;
    border-top: 0.5px;
    margin-top: 4vh;
}

.columnas{
    display: grid;
    grid-template-columns: 53vw 1fr;
}

.columna-izquierda{
    z-index: 0;
    grid-column: 1;
}

#titulo{
    color: rgb(33, 216, 17);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin-top: 30vh;
    margin-left: 4.5vw;
}

#descripcion{
    color: white;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: justify;
    padding: 3%;
    margin-top: -11vh;
    margin-left: 3vw;
}

.columna-derecha{
    grid-column: 2;    
}

.formulario{
    background-color: rgb(41, 40, 40);
    width: 33vw;
    height: 60vh;
    padding: 4%;
    border-radius: 3%;
    margin-top: 22vh;
    margin-left: 3vw;
}

.main-inputs{
    border-color: rgb(7, 7, 7);
    border-style: solid;
    border-width: 0.5px;
    padding-left: 3%;
}

#main-contrasena{
    margin-top: 3vh;
}

#iniciar-sesion{
    background-color: rgb(218, 6, 6);
    border-style: none;
    color: white;
    font-weight: bold;
    margin-top: 3vh;
}

#iniciar-sesion:hover{
    background-color: rgb(224, 150, 11) ;
}

#restaurar-contrasena{
    margin-top: 3.5vh;
    text-align: center;
    font-size: 15px;
    color: rgb(251, 254, 255);
}

#nueva-cuenta{
    width: 15vw;
    height: 9.5vh;
    background-color: rgb(174, 7, 189);
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 7.5vw;
    margin-top: 3vh;
}

#nueva-cuenta:hover{
    background-color: rgb(185, 4, 155);
}

#contrasena-titulo{
    color: rgb(24, 216, 40);
    font-size: 25px;
    text-align: center;
    margin-top: 1vh;
    margin-left: 0;
    padding-left: 0;
}

#instrucciones-contrasena{
    color: rgb(214, 212, 212);
    text-align: justify;
    font-size: 17px;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 2vh;
    line-height: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contrasena-input{
    height: 8vh;
    margin-top: 2.5vh;
    padding-left: 3%;
}

#confirmar-button{
    height: 8vh;
    width: 15vw;
    background-color: rgb(174, 7, 189);
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 7.7vw;
    margin-top: 3vh;
}

#confirmar-button:hover{
    background-color: rgb(185, 4, 155);

}

#mostrar-mensaje{
    color: rgb(214, 212, 212);
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    height: 13vh;
    margin-top: 4vh;
    padding-top: 2% ;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    line-height: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
}

.pop-up-class {
    background: rgba(165, 164, 164, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0;
    pointer-events: none;
}

.pop-up-class:target {
    opacity:1;
    pointer-events: auto;
}

.cerrar {
    margin-left: 27.5vw;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.formulario-registro{
    background-color: rgb(95, 94, 94);
    width: 30.5vw;
    height: 75vh;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-style: none;
    margin-top: 14vh;
    margin-left: 32vw;
    box-shadow: 8px 8px 8px rgb(51, 51, 51);
}

h1{
    color: rgb(24, 216, 40);
    font-size: 40px;
    margin: 0;
    margin-top: -1.5vh;
    font-family:Arial, Helvetica, sans-serif;
}

h6{
    color: rgb(214, 212, 212);
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.registro-input{
    width: 13.8vw;
    height: 5.5vh;
    background-color: white;
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    padding-left: 2%;
}

#separacion-de-inputs{
    margin-left: 0.6vw;
}

.registro-input-largo{
    width: 28.5vw;
    height: 5.5vh;
    background-color: white;
    padding-left: 2%;
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    margin-top: 1.5vh;
    font-size: 17px;
}

.sexo-y-fecha{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.registro-input-corto{
    height: 5.5vh;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    width: 8.9vw;
    font-size: 17px;
    padding-left: 1.3%;
}

#separacion-corta{
    margin-left: 0.6vw;
}

.radio-buttons{
    width: 3.5vw;
    height: 2vh;
    margin: 0;
    padding: 0;
}

label{
    display: inline-block;
    width: 4.5vw;
    padding-top: 5%;
    padding-left: 7%;
}

.radio-container{
    background-color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 17px;
    width: 8.9vw;
    height: 5vh;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
}

#radio-margin{
    margin-left: 0.6vw;
}

#enviar-registro{
    height: 5vh;
    width: 15vw;
    background-color: rgb(174, 7, 189);
    border-style: none;
    color: white;
    font-weight: bold;
    margin-left: 7.5vw;
    margin-top: 7vh;
}

#enviar-registro:hover{
    background-color: rgb(185, 4, 155);
}
